/**
  * breakpoints for media queries
  */
/**
  * global links
  */
/* line 5, ../scss/base/_placeholder.scss */
a {
  display: inline-block;
  -moz-transition-property: background-color, border, color;
  -o-transition-property: background-color, border, color;
  -webkit-transition-property: background-color, border, color;
  transition-property: background-color, border, color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  border-bottom: 0.1rem solid #001f3f;
  color: #001f3f;
  line-height: 1;
  text-decoration: none;
}
/* line 15, ../scss/base/_placeholder.scss */
a:hover, a:focus {
  border-bottom-width: 0.2rem;
  border-bottom-color: #5c0819;
  background: #f2f2f2;
  color: #5c0819;
}

/* line 24, ../scss/base/_placeholder.scss */
nav a, footer a {
  border-bottom-color: #ffdc00;
  color: #ffdc00;
}
/* line 27, ../scss/base/_placeholder.scss */
nav a:hover, footer a:hover, nav a:focus, footer a:focus {
  border-bottom-color: #fff;
  background-color: inherit;
  color: #fff;
}

/**
  * buttons
  */
/* line 41, ../scss/base/_placeholder.scss */
#main-menu .main-menu a, footer ul a, .btn {
  padding: 0.25rem 0.5rem;
  border: 0.1rem solid #ffdc00;
  border-radius: 0.5rem;
}
/* line 47, ../scss/base/_placeholder.scss */
#main-menu .main-menu a:hover, footer ul a:hover, .btn:hover, #main-menu .main-menu a:focus, footer ul a:focus, .btn:focus {
  border: 0.1rem solid #fff;
  background: #5c0819;
  color: #fff;
}

/**
  * navs and links
  */
/* line 62, ../scss/base/_placeholder.scss */
#main-menu .main-menu, footer ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 576px) {
  /* line 62, ../scss/base/_placeholder.scss */
  #main-menu .main-menu, footer ul {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* line 75, ../scss/base/_placeholder.scss */
#main-menu .main-menu li, footer ul li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
/* line 78, ../scss/base/_placeholder.scss */
#main-menu .main-menu li:last-child, footer ul li:last-child {
  margin-right: 0;
}
@media (min-width: 576px) {
  /* line 75, ../scss/base/_placeholder.scss */
  #main-menu .main-menu li, footer ul li {
    margin-bottom: 0;
  }
}

/* line 1, ../scss/base/_global.scss */
body {
  background: #fff;
  color: #000;
}

/* line 8, ../scss/base/_global.scss */
img {
  max-width: 100%;
}

/* line 22, ../scss/base/_global.scss */
.pull-left {
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/* line 23, ../scss/base/_global.scss */
.pull-right {
  float: right;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/**
  * global typography
  */
/* line 5, ../scss/base/_typography.scss */
html, body {
  font-size: 125%;
  line-height: 1.4;
  font-family: 'Heebo', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/**
  * headings
  */
/* line 17, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Lora', 'Georgia', 'Times New Roman', serif;
}

/* line 24, ../scss/base/_typography.scss */
h2,
h3,
h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

/* line 31, ../scss/base/_typography.scss */
h1 {
  font-size: 2.369rem;
  line-height: 1.182;
}

/* line 32, ../scss/base/_typography.scss */
h2 {
  font-size: 1.777rem;
  line-height: 1.576;
}

/* line 33, ../scss/base/_typography.scss */
h3 {
  font-size: 1.333rem;
  line-height: 1.05;
}

/* line 34, ../scss/base/_typography.scss */
h4 {
  font-size: 1rem;
}

/**
  * text blocks
  */
/* line 42, ../scss/base/_typography.scss */
p,
ol,
ul,
table {
  margin-bottom: 1rem;
}

/* line 49, ../scss/base/_typography.scss */
p,
li,
th,
td {
  font-size: 1rem;
}

/**
  * visually hidden
  * https://a11yproject.com/posts/how-to-hide-content/
  */
@media (min-width: 0) and (max-width: 768px) {
  /* line 15, ../scss/base/_utility.scss */
  .rates thead {
    position: absolute !important;
    overflow: hidden;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

/* line 1, ../scss/layout/_page.scss */
.container {
  overflow: auto;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
}

/**
  * header
  */
/* line 5, ../scss/layout/_header.scss */
header {
  color: #5c0819;
}
/* line 7, ../scss/layout/_header.scss */
header * {
  margin: 0;
  line-height: 1;
}
/* line 14, ../scss/layout/_header.scss */
header .logo {
  overflow: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-bottom: 0.25rem solid #5c0819;
}
/* line 21, ../scss/layout/_header.scss */
header .logo-img {
  float: left;
  font-size: 2rem;
}
/* line 25, ../scss/layout/_header.scss */
header .logo-text {
  padding-top: 0.4rem;
  padding-left: 0.2rem;
  font-size: 1.25rem;
}

/**
  * nav
  */
/* line 5, ../scss/layout/_nav.scss */
nav {
  background: #001f3f;
  color: #fff;
}

/**
  * main nav
  */
/* line 24, ../scss/layout/_nav.scss */
#main-menu .main-menu {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 37, ../scss/layout/_nav.scss */
  #main-menu .main-menu {
    display: -webkit-flex;
    display: flex;
  }
  /* line 40, ../scss/layout/_nav.scss */
  #main-menu .btn-menu {
    display: none;
  }
}

/**
  * mobile nav
  */
/* line 53, ../scss/layout/_nav.scss */
#mobile-menu {
  display: inherit;
  clear: both;
  margin-top: 25rem;
  padding-bottom: 25rem;
}
@media (min-width: 768px) {
  /* line 53, ../scss/layout/_nav.scss */
  #mobile-menu {
    display: none;
  }
}

/* line 66, ../scss/layout/_nav.scss */
.mobile-menu {
  margin-top: 2.5rem;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
  padding-left: 0;
  border-top: 0.125rem solid #ffdc00;
  list-style: none;
}
/* line 75, ../scss/layout/_nav.scss */
.mobile-menu li {
  border-bottom: 0.125rem solid #ffdc00;
}
/* line 79, ../scss/layout/_nav.scss */
.mobile-menu a {
  display: block;
  padding: 0.75rem 1.25rem;
  border: 0;
}
/* line 85, ../scss/layout/_nav.scss */
.mobile-menu a:hover, .mobile-menu a:focus {
  background-color: #5c0819;
}

/**
  * main
  */
/* line 5, ../scss/layout/_main.scss */
main {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
/* line 9, ../scss/layout/_main.scss */
main .container *:first-child {
  margin-top: 0;
}

/**
  * footer
  */
/* line 5, ../scss/layout/_footer.scss */
footer {
  padding-top: 1rem;
  background: #001f3f;
  color: #fff;
}

/* line 1, ../scss/component/_button.scss */
.btn {
  font-size: 1rem;
}

/* line 6, ../scss/component/_button.scss */
.btn-close {
  float: right;
}

/* line 1, ../scss/component/_image.scss */
.profile {
  display: block;
  max-width: 12rem;
  margin: 2.5rem auto 1rem auto;
  border: 0.25rem solid #001f3f;
  border-radius: 50%;
}

/* line 1, ../scss/component/_table.scss */
table,
th,
td {
  border: 1px solid #001f3f;
}

/* line 7, ../scss/component/_table.scss */
table {
  margin-bottom: 1rem;
}

/* line 11, ../scss/component/_table.scss */
th,
td {
  padding: 0.5rem 1rem;
  text-align: left;
}

/* line 17, ../scss/component/_table.scss */
th {
  font-weight: bold;
}

/* line 21, ../scss/component/_table.scss */
thead th {
  background: #ff851b;
  font-size: 1.33rem;
}

/* line 26, ../scss/component/_table.scss */
tr {
  background: #fff;
}

/* line 29, ../scss/component/_table.scss */
tr:nth-of-type(even) {
  background: #fff3e8;
}

/**
  * Rates table
  */
@media (min-width: 0) and (max-width: 768px) {
  /* line 47, ../scss/component/_table.scss */
  .rates th,
  .rates td {
    display: block;
  }
  /* line 50, ../scss/component/_table.scss */
  .rates th::before,
  .rates td::before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    font-style: italic;
  }
}
