/**
  * header
  */

header {

  * {
    margin: 0;
    line-height: 1;
  }

  color: $red;

  .container {
    @include display-flex;
    @include align-items(center);
  }

  .logo {
    margin-right: 1rem;
  }


}