/**
  * header
  */

header {

  * {
    margin: 0;
    line-height: 1;
  }

  color: $red;

  .logo {
    overflow: auto;
    @include display-flex;
    @inlcude flex-wrap(wrap);
    @include align-items(flex-start);
    border-bottom: 0.25rem solid $red;
  }
  .logo-img {
    float: left;
    font-size: 2rem;
  }
  .logo-text {
    padding-top: 0.4rem;
    padding-left: 0.2rem;
    font-size: 1.25rem;
  }

}