table,
th,
td {
  border: 1px solid $blue;
}

table {
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem 1rem;
}

th {
  background: tint($blue, 80%);
}

td {
  background: $white;
}
tr:nth-of-type(even) td {
  background: tint($blue, 90%);
}