tr,
th,
td {
  border: 1px solid $blue;
}

table {
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem 1rem;
  text-align: left;
}

th {
  font-weight: bold;
}

thead th {
  background: $orange;
  font-size: 1.33rem;
}

tr {
  background: $white;
}
tr:nth-of-type(even) {
  background: tint($orange, 90%);
}



/**
  * Rates table
  */

.rates {

  // only hide on mobile and small screens
  thead {
    @extend %sr-mobile;
  }

  // for mobile, small screens and down
  @include breakpoint($xs $md) {

    th,
    td {
      display: block;
      border: 0;
      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        font-style: italic;
      }
    }

  }

}