* {
  box-sizing: border-box;
}



body {
  background: $white;
  color: $black;
}



img {
  max-width: 100%;
}



a {

  @extend %link;

}



.pull-left { float: left; margin-right: 2rem; margin-bottom: 1rem; }
.pull-right { float: right; margin-left: 2rem; margin-bottom: 1rem; }