/**
  * global typography
  */

html, body {
  font-size: 125%; // 20px
  line-height: 1.4; // 28px
  font-family: 'Heebo', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}



/**
  * headings
  */

h1,
h2,
h3,
h4 {
  font-family: 'Lora', 'Georgia', 'Times New Roman', serif;
}

h2,
h3,
h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

h1 { font-size: 1.728rem; line-height: 1.62; }
h2 { font-size: 1.44rem;  line-height: 1; }
h3 { font-size: 1.2rem;   line-height: 1.1667; }
h4 { font-size: 1rem; }

// for tablet screens and up
@include breakpoint($md) {
  h1 { font-size: 2.369rem; line-height: 1.182; }
  h2 { font-size: 1.777rem; line-height: 1.576; }
  h3 { font-size: 1.333rem; line-height: 1.05; }
}



/**
  * text blocks
  */

p,
ol,
ul,
table {
  margin-bottom: 1rem;
}

p,
li,
th,
td {
  font-size: 1rem;
}